baseURL = "http://arsin.ir"
title = "وبلاگ آرمان حسن پور"
theme = "hugo-theme-bootstrap"
copyright = "تمام حقوق این سایت متعلق به آرمان حسن پور می باشد و کپی با ذکر منبع بلامانع است."

# Multilingual mode
defaultContentLanguage = "fa"
# defaultContentLanguageInSubdir = true # If you use only one language comment this option

disableHugoGeneratorInject = true
# disableLiveReload = true

# Pagination
paginate = 10
# paginatePath = "page"

# Disqus
# disqusShortname = "Arman"

# Google analytics
# googleAnalytics = "UA-123-45"

enableRobotsTXT = true

enableEmoji = true

# hasCJKLanguage = true # Uncomment it if your content contains Chinese/Japanese/Korean Languages.

# pygmentsUseClasses = true

[blackfriday]
  hrefTargetBlank = true

[mediaTypes]
  [mediaTypes."application/manifest+json"]
    suffixes = ["json"]
  
[outputFormats]
  [outputFormats.MANIFEST]
    name = "manifest"
    baseName = "manifest"
    mediaType = "application/manifest+json"
	notAlternative = true
	
[outputs]
  home = ["HTML", "RSS", "JSON", "MANIFEST"]

[taxonomies]
  category = "categories"
  series = "series"
  tag = "tags"

[build]
  writeStats = true

[related]
  includeNewer = true
  threshold = 50
  toLower = false

  [[related.indices]]
    name = "tags"
    weight = 50